/* 主體 */
#main{
    width: 1100px;
    height: 1200px;
	background-color: #FFF;
	padding-left: 25px;
}

/* 區塊 */
#area_title{
	margin-top: 5px;
	margin-left: 10px;
    font-size: 20px;
}
.area_box{
	float: left;
	position: relative;
	margin: 2%;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.area_box2{
	float: left;
	position: relative;
	margin-left: 30px;
	overflow: hidden;
	padding-right: 15px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* 更多 */
.more-link{
   	position: absolute;
	right: 30px;
	font-size: 14px;
}


/* 小區塊們 */
#area1_1 #area_title{ color: #EA4B74; }
#area1_1{  
    background-image:url(../img/area01.jpg);
	width: 53%;  height: 340px;
}
#area1_2 #area_title{ color: #39518B; margin-bottom: 15px;}
#area1_2{  
    background-image:url(../img/area02.jpg);
	width: 34%;  height: 340px;
}

#area2_1 #area_title{ color: #F39D2C; }
#area2_1{  
    background-image:url(../img/area03.jpg);
	width: 60%;  height: 340px;
}
#area2_2 #area_title{ color: #A396C3; }
#area2_2{  
    background-image:url(../img/area04.jpg);
	width: 27%;  height: 340px;
}

#area3_1 #area_title{ color: #FAD330; }
#area3_1{  
    background-image:url(../img/area05.jpg);
	width: 27%;  height: 150px;
}
#area3_2 #area_title{ color: #AECC46; }
#area3_2{  
    background-image:url(../img/area06.jpg);
	width: 27%;  height: 150px;
}
#area3_3 #area_title{ color: #8CCFDF; }
#area3_3{  
    background-image:url(../img/area07.jpg);
	width: 27%;  height: 150px;
}

/* ==========================FB========================= */
#area1_2 div{
	margin-left: 10px;
}
#area1_2 .fb-like{
	height: 21%;
	border-bottom:#DBDBDB 1px solid; 
}
#area1_2 .fb-nevin{
	height: 71%;
    overflow-y: scroll;
}
#area1_2 .fb-footer{
	border-top:#DBDBDB 1px solid; 
    padding: 5px;
    color: #808080;
	font-size: 13px;

}
/* =======================工作列表====================== */

.search-log{
	margin: 10px;
	color: #408080;
	font-size: 13.5px;
}


.high_search-bar{
	margin-top: 10%;
	margin-left: 20%;
}
.high_search-bar #normal-search{
	width: 60%;
	margin-bottom: 10px;
}
.high_search-bar #search{
    margin-top: 20px;
    width: 100px;
}


.work{
	border-bottom: solid 1px #ddd;
	overflow: hidden;
	width: 100%;
	height: 60px;
}
.work:hover{
	background-color: #FED;
}
.work-box{
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.box-img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.box-detail,.box-detail p{
    padding-top: 2px;
}
.box-loc,.box-pop{
	float: right;
	padding-right: 20px;
	line-height: 50px;
	margin-top: 8px\9;
}


.search-detail-sub{
	font-size: 13.5px;
	padding-bottom: 5px;
}

.search-detail{
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
}

	
.work h1{
	color: #333;
	font-size:24px;
}
.work p{
	display: inline-block;
	color: #555;
	font-size:14px;
}
.work .num{
	width: 70px;
}
	
.dateee{
	margin-right: 20px;
}
.isExpired{
	background-color: #F2F2F2;
}


/* 快速搜尋 */
.rush-search{
	padding: 8px;
	padding-bottom: 0;
	border-bottom: solid 1px #CCC;
}
.rush-search a{
	color:#555;
	display: inline-block;
	padding:10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: -1px;
}
.rush-search a:hover{
	color: #222;
	cursor: pointer;
}
.rush-searching{
	color: #222;
	border: solid 1px #CCC;
	border-bottom: solid 1px #fff;
	background-color: #FFF;
}

/* 更多 */
#area2_1 .more-link{
	bottom: 40px;
}
	

.workplace{
	margin-top: 10px;
}
.master-title,.news-area p{
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis; 
}

/* =======================學生職涯發展最新消息====================== */
#area2_2 .link{
	color: #BA96C3;
	font-weight: bold;
}
#area2_2 .link:hover{
	color: #B088BB;
}
#area2_2 i{
	font-size: 9px;
	margin-left: 15px;
	margin-right: 5px;
}



.news-area{
	margin-top: 10px;
	margin-left: 20px;
}
.news-area hr{
	border:0; 
	height:1px; 
	width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:#d4d4d4;
}
.news-area .news-date{
	font-size: 11px;
	color: #991133;
    margin-right: 10px;
}
.news-area p{
	font-size: 14px;
	width: 250px;
}


/* =======================社會新鮮人專區====================== */

/* 更多 */
#area3_1 .more-link,
#area3_2 .more-link,
#area3_3 .more-link{
	top: 30px;
}

.title-box{
	width: 100%;
	height: 20%;
	overflow: hidden;
}
#area3_1 img,#area3_3 img{
    float: left;
    margin: 10px;
    height: 90px;
    width: 90px;
}
#area3_1 .master-title{
    font-size: 15px;
	margin-top: 10px;
    color: #F8C705;
    font-weight: bold;
}
#area3_1 .master-nevin{
	color: #646859;
	font-size: 12px;
	height: 72px;
	width: 180px;
	overflow: hidden;

}
/* =======================活動花絮====================== */
#area3_2 .img-boxx{
    float: left;
    margin-top: 10px; 
    margin-left: 14px;
    height: 80px;
    width: 80px;
    opacity: 0.7;

    transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
#area3_2 .img-boxx:hover{
    opacity: 1;

    transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
#area3_2 .img-boxx img{
    height: 100%;
    width: 100%;
}

#area3_2 .img-boxx .img-alt{
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
	width: 100%; 

    font-size: 9px;
    color: #003D59;
}



/* ======================好站連連看===================== */

.wp3-3 a{
	color: #707360;
    text-decoration: none;
}
.wp3-3 a:hover{
	color: #22231D;
    text-decoration: none;
}
.wp3-3 i{
	margin-right: 5px;
    font-size: 10px;
}


/* 內頁 */
#left_div{
    background-image:url(../img/inner4_area01.jpg);
	width: 60%;  height: 1070px;
	padding-top: 30px;
	margin-top: 20px;
}
#right_div #area_title{ color: #A296C3; }
#right_div{  
    background-image:url(../img/inner4_area02.jpg);
	width: 28%;  height: 700px;
	padding-top: 10px;
	margin-top: 30px;
}

/* ======================左區塊===================== */
.before_news,.next_news{
position: absolute;
color: #991133;
font-weight: bold;
}
#left_div .before_news{
float: left;
left: 30px;
}
#left_div .next_news{
float: right;
right: 45px;
}
#left_div .bottom_pointer{
bottom: 40px;
}
#left_div .begin_hr{
color: #991133;
font-weight: bold;
margin-top: 10px;
}

#left_div .news_title,#left_div .news_cont{
    margin-left: 25px;
    margin-right: 25px;
}
#left_div .news_title{
	color: #913;
	margin-top: 20px;
	font-size: 24px;
}
#left_div .news_time{
	float: right;
	line-height: 40px;
	font-size: 18px;
}
#left_div .news_cont{
    margin-top: 20px;
    padding-right: 30px;
    width: 600px;
    height:970px;
    overflow-y:scroll;
}


#left_div hr{
	opacity: 0.4;
    margin-left: 4%;
    width: 90%;
}
#left_div .bottom_hr{
	bottom: 70px;
}

/* ======================右區塊===================== */
#right_div .list_time,#left_div .news_time{ color: #929292; }

#right_div .list_one{
	margin-top: 5%;
	margin-left: 8%;
    margin-right: 3%;
    font-size: 14px;
}

#right_div .list_title{ 
    font-size: 14px;
	font-weight: bold;
	color: #3C3C3C; 
}

#right_div .list_cont{
    max-height: 47px;
    overflow:hidden;
}
#right_div .list_cont p{
    color: #808080;
    font-size: 11px;
}

#right_div .page_ctrl{
    position: absolute;
    left: 5%;
    bottom: 40px;

}
#right_div .page_ctrl a{
    margin-left: 10px;
    color: #808080;
}
#right_div .page_ctrl .this_page{
    color: #991133;
    font-weight: bold;
}

