/* 主體 */
#main{
    width: 1100px;
    height: 1300px;
	background-color: #FFF;
}

/* 區塊 */
#area_title{
	margin-top: 5px;
	margin-left: 10px;
    font-size: 20px;
}
.area_box{
	float: left;
	position: relative;
	margin: 2%;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.area_box2{
	float: left;
	position: relative;
	margin-left: 30px;
	overflow: hidden;
	padding-right: 15px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* 菜單 */
#menu{
	background-color: #991133;
	min-width: 1100px;
}
#menu ul{
	overflow: hidden;
	list-style-type: none;
	width: 1020px;
	height: 50px;
	line-height: 50px;
}
#menu ul li{
	display: inline;
	text-align:center;
	width: 100px;
	padding: 15px;

}
#menu ul li:hover{
    background-color: #D21746;
}
#menu ul li a{
	font-weight: bold;
	font-size: 20px;
	color: #F0F0F0;
}
#menu ul .this_html,#menu ul .this_html:hover{
	background-color: #4C0E20;
}


/* 更多 */
.more-link{
   	position: absolute;
	right: 30px;
	font-size: 14px;
}
/* 選擇 */
.more-link:hover,.news-nevin:hover,.master-nevin:hover,.workplace-title:hover,.list_cont:hover{
    color:#0080C0;
}


/* 各區塊大小 */
#area1_1 #area_title{ color: #EA4B74; }
#area1_1{  
    background-image:url(../img/area01.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area01.jpg' , sizingMethod='scale');
	width: 53%;  height: 340px;
}
#area1_2 #area_title{ color: #39518B; margin-bottom: 15px;}
#area1_2{  
    background-image:url(../img/area02.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area02.jpg' , sizingMethod='scale');
	width: 34%;  height: 340px;
}

#area2_1 #area_title{ color: #F39D2C; }
#area2_1{  
    background-image:url(../img/area03.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area03.jpg' , sizingMethod='scale');
	width: 60%;  height: 340px;
}
#area2_2 #area_title{ color: #A396C3; }
#area2_2{  
    background-image:url(../img/area04.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area04.jpg' , sizingMethod='scale');
	width: 27%;  height: 340px;
}

#area3_1 #area_title{ color: #FAD330; }
#area3_1{  
    background-image:url(../img/area05.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area05.jpg' , sizingMethod='scale');
	width: 27%;  height: 150px;
}
#area3_2 #area_title{ color: #AECC46; }
#area3_2{  
    background-image:url(../img/area06.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area06.jpg' , sizingMethod='scale');
	width: 27%;  height: 150px;
}
#area3_3 #area_title{ color: #8CCFDF; }
#area3_3{  
    background-image:url(../img/area07.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area07.jpg' , sizingMethod='scale');
	width: 27%;  height: 150px;
}


#inner4_area_1 #area_title{ color: #AECC46; }
#inner4_area_1,#inner3_area_1{  
    background-image:url(../img/inner4_area01.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/inner4_area01.jpg' , sizingMethod='scale');
	width: 60%;  height: 1100px;
	padding-top: 30px;
	margin-top: 20px;
}
#inner4_area_2 #area_title,#inner3_area_2 #area_title{ color: #A296C3; }
#inner4_area_2,#inner3_area_2{  
    background-image:url(../img/inner4_area02.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/inner4_area02.jpg' , sizingMethod='scale');
	width: 28%;  height: 700px;
	padding-top: 10px;
	margin-top: 30px;
}


/* =======================焦點新聞====================== */
#amazingslider-1{
	
}

/* ==========================FB========================= */
#area1_2 div{
	margin-left: 10px;
}
#area1_2 .fb-like{
	height: 21%;
	border-bottom:#DBDBDB 1px solid; 
}
#area1_2 .fb-nevin{
	height: 71%;
    overflow-y: scroll;


}
#area1_2 .fb-footer{
	border-top:#DBDBDB 1px solid; 
    padding: 5px;
    color: #808080;
	font-size: 13px;

}
/* =======================工作列表====================== */

.search-log{
	margin: 10px;
	color: #408080;
	font-size: 13.5px;
}



.high_search-bar{
	margin-top: 10%;
	margin-left: 20%;
}
.high_search-bar #normal-search{
	width: 60%;
	margin-bottom: 10px;
}
.high_search-bar #search{
    margin-top: 20px;
    width: 100px;
}


.work{
	border-bottom: solid 1px #ddd;
	overflow: hidden;
	width: 100%;
	height: 60px;
}
.work:hover{
	background-color: #FED;
}
.work-box{
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.box-img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.box-detail{
padding-top: 2px;
margin-top: 4px\9;
}
.box-detail p{
padding-top: 2px;
margin-top: 4px\9;
}
.box-loc{
	float: right;
	padding-right: 20px;
	line-height: 50px;
	margin-top: 8px\9;
}
.box-pop{
	float: right;
	padding-right: 20px;
	line-height: 50px;
	margin-top: 8px\9;
}

.tag-bar{
	padding-bottom: 20px;
}

.search-detail-sub{
	font-size: 13.5px;
	padding-bottom: 5px;
}

.search-detail{
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
}

	.work-list-bar {
		padding: 3px;
	}
	.work-list-bar a{
		text-decoration: none;
		display: block;
	}
	.work h1{
		color: #333;
		font-size:24px;
	}
	.work p{
		display: inline-block;
		color: #555;
		font-size:14px;
	}
	.work .num{
		width: 70px;
	}
	






/* 快速搜尋 */

.rush-search{
	padding: 8px;
	padding-bottom: 0;
	border-bottom: solid 1px #CCC;
}
.rush-search a{
	color:#555;
	display: inline-block;
	padding:10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: -1px;
}
.rush-search a:hover{
	color: #222;
	cursor: pointer;
}
.rush-searching{
	color: #222;
	border: solid 1px #CCC;
	border-bottom: solid 1px #fff;
	background-color: #FFF;
}

/* 更多 */
#area2_1 .more-link{
	bottom: 40px;
}
	
/* =======================校內新聞====================== */

.no_paper{
	display: block;
    margin: 10px;
    margin-top: 20px;
    color: #CE3131;
    font-size: 40px;
}

#area2_2 .link{
    color: #A396C3;
    float: right;
    margin-right: 20px;
}

#area2_2 .news{
	height: 85px;
	width: 100%;
	overflow: hidden;
}
#area2_2 .news p{
    font-size: 13px;
}
#area2_2 .news .news-img{
	float: left;
	padding: 12px;
	height: 60px;
    width: 100px;
}
#area2_2 .news .news-time{
	padding-top: 12px;
	color: #A396C3;
}
#area2_2 .news-nevin{
	margin-right: 15px;
	max-height: 35px;
	overflow: hidden;
}

/* 更多 */
#area2_2 .more-link{
	bottom: 40px;
}

/* =======================職場高手====================== */

/* 更多 */
#area3_1 .more-link,
#area3_2 .more-link,
#area3_3 .more-link{
	top: 30px;
}

.title-box{
	width: 100%;
	height: 20%;
	overflow: hidden;
}
.area3-img{
    float: left;
    margin: 10px;
    height: 90px;
    width: 90px;
}
#area3_1 p{
    font-size: 14px;
}
#area3_1 .master-title{
	margin-top: 10px;
    color: #F8C705;
    font-weight: bold;
}
#area3_1 .master-nevin{
	max-height: 80px;
	margin-right: 20px;
	overflow: hidden;
  
}

/* =======================職場動態====================== */
.workplace{
	margin-top: 10px;
}
.workplace-title{
	font-size: 14px;
	line-height: 22px;
	max-height: 20px;
	overflow: hidden;
}

/* ======================職場萬花筒===================== */






/* 內頁 */
/* ======================左區塊===================== */
.before_news,.next_news{
position: absolute;
color: #991133;
font-weight: bold;
}
#inner4_area_1 .before_news{
float: left;
left: 30px;
}
#inner4_area_1 .next_news{
float: right;
right: 45px;
}
#inner4_area_1 .bottom_pointer{
bottom: 40px;
}
#inner4_area_1 .begin_hr{
color: #991133;
font-weight: bold;
margin-top: 10px;
}

#inner4_area_1 .news_title,#inner4_area_1 .news_cont{
    margin-left: 25px;
    margin-right: 25px;
}
#inner4_area_1 .news_title{
	margin-top: 20px;
	font-size: 24px;
}
#inner4_area_1 .news_time{
	float: right;
	line-height: 40px;
	font-size: 20px;
	color: #000000;
}
#inner4_area_1 .news_cont{
    margin-top: 20px;
    padding-right: 30px;
    width: 600px;
    height:900px;
    overflow-y:scroll;
}


#inner4_area_1 hr{
	opacity: 0.4;
    margin-left: 4%;
    width: 90%;
}
#inner4_area_1 .bottom_hr{
	bottom: 70px;
}

/* ======================右區塊===================== */
#inner4_area_2 .list_one{
	margin-top: 5%;
	margin-left: 8%;
    margin-right: 3%;
    font-size: 14px;
}
#inner4_area_2 .list_time,#inner4_area_2 .list_title{
    color: #A296C3;
}

#inner4_area_2 .list_title{

}
#inner4_area_2 .list_cont{
    max-height: 60px;
    overflow:hidden;
}

#inner4_area_2 .page_ctrl{
    position: absolute;
    left: 5%;
    bottom: 40px;

}
#inner4_area_2 .page_ctrl a{
    margin-left: 10px;
    color: #808080;
}
#inner4_area_2 .page_ctrl .this_page{
    color: #991133;
    font-weight: bold;
}


/* 頁尾 */
#footer{
	text-align: center;
	background-color: #991133;
	min-width: 1100px;
}
#footer .footer_text{
	padding: 7px;
	color: #efefef;
	font-size: 12px;
}
