
	*{
		margin: 0;
		padding: 0;
	}
	.container{
		background-color: #FFF;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box; 
		-webkit-box-sizing:border-box; 
	}
	.top{
			
	}
	.tag-bar{
		margin-left: 135px;
		padding-bottom: 20px;
	}
	.center{
		height: auto;
		min-height: 600px;
	
	}
	.search-bar{
		margin-top: 5px;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 35px;
	}
	.search-bar .set-center{
		height: 30px;
		display: inline-block;
	}
	.search-bar input[type='text']{
		width: 500px;
		height: 100%;
	}
	.search-bar input[type='button']{
		width: 50px;
		height: 100%;

	}
	.search-log{
		margin: 10px;
		color: #408080;
	}


	.work-list-bar {
		padding: 3px;
		padding-top: 10px;
	}
	.work-list-bar a{
		text-decoration: none;
		display: block;

	}
	

	.work{
		border-bottom: solid 1px #ddd;
		padding: 5px;
	}

	.work:hover{
		background-color: #FED;
	}

	.work-box{
		display: inline-block;
		vertical-align: middle;
	}

	.box-img{
		margin-right: 5px;
		height: 50px;
	}
	.box-name{
		height: 50px;
		width: 530px;
	}
	.box-loc{
		width: 180px;
	}
	.box-pop{
		width: 80px;
	}

	.work-img{
		width: 50px;
		height: 50px;
		background-color: #587;
	}
	

	
	
	.work p{
		display: inline-block;
	}
	.work h1{
		color: #333;
		font-size:22px;
		word-break: break-word; /* 文本行的任意字内断开 */ 
		word-wrap: break-word; /* IE */ 
		white-space: -moz-pre-wrap; /* Mozilla */ 
		white-space: -hp-pre-wrap; /* HP printers */ 
		white-space: -o-pre-wrap; /* Opera 7 */ 
		white-space: -pre-wrap; /* Opera 4-6 */ 
		white-space: pre; /* CSS2 */ 
		white-space: pre-wrap; /* CSS 2.1 */ 
		white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ 
		
	}
	.work p{
		color: #555;
		padding-left: 5px;
		font-size:14px;
	}

	.footer{
		text-align: right;
		background-color: #333;
		color: #efefef;
		font-size: 12px;
	}
	.footer-bar{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #333;

	}

	/* 廣告 */

	.ad{
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	.ad-bar{
		background-image: url("http://static.104.com.tw/aidma/material/51/435/13_529.gif");
		background-color: #987;
		color: #000;
		font-size: 40px;
		height: 200px;
	}
