/* 主體 */
#main{
    width: 1100px;
    height: 1300px;
	background-color: #FFF;
}

/* 區塊 */
#area_title{
	margin-left: 5px;
    font-size: 20px;
}
.area_box{
	float: left;
	position: relative;
	margin: 2%;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* 菜單 */
#menu{
	background-color: #991133;
}
#menu ul{
	list-style-type: none;
	overflow: hidden;
	width: 800px;
	height: 50px;
	line-height: 50px;
}
#menu ul li{
	display: inline;
	text-align:center;
	width: 100px;
	padding: 15px;

}
#menu ul li:hover{
    background-color: #D21746;
}
#menu ul li a{
	font-weight: bold;
	font-size: 20px;
	color: #F0F0F0;
}


/* 各區塊大小 */
#xxx1 #area_title{ color: #EA4B74; }
#xxx1{  
    background-image:url(../img/area01.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area01.jpg' , sizingMethod='scale');
	width: 53%;  height: 340px;
}
#xxx2 #area_title{ color: #39518B; }
#xxx2{  
    background-image:url(../img/area02.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area02.jpg' , sizingMethod='scale');
	width: 34%;  height: 340px;
}

#work_list #area_title{ color: #F39D2C; }
#work_list{  
    background-image:url(../img/area03.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area03.jpg' , sizingMethod='scale');
	width: 60%;  height: 360px;
}
#xxx3 #area_title{ color: #A396C3; }
#xxx3{  
    background-image:url(../img/area04.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area04.jpg' , sizingMethod='scale');
	width: 27%;  height: 360px;
}

#xxx4 #area_title{ color: #FAD330; }
#xxx4{  
    background-image:url(../img/area05.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area05.jpg' , sizingMethod='scale');
	width: 27%;  height: 200px;
}
#xxx5 #area_title{ color: #AECC46; }
#xxx5{  
    background-image:url(../img/area06.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area06.jpg' , sizingMethod='scale');
	width: 27%;  height: 200px;
}
#xxx6 #area_title{ color: #8CCFDF; }
#xxx6{  
    background-image:url(../img/area07.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/area07.jpg' , sizingMethod='scale');
	width: 27%;  height: 200px;
}


/* =======================焦點新聞====================== */

/* ==========================FB========================= */


/* =======================工作列表====================== */


.search-bar{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
}
.search-bar #normal-search{
	width: 400px;
	height: 25px;
	font-size: 20px;
}
.search-bar #search{
    width: 100px;
	height: 30px;
}
#high_search_btn{
    font-size: 16px;
}


.high_search-bar{
	margin-left: 135px;
    display: none;
}
.search-log{
	margin: 10px;
	color: #408080;
	font-size: 13.5px;
}






.work{
	border-bottom: solid 1px #ddd;
	overflow: hidden;
	width: 100%;
	height: 60px;
}
.work:hover{
	background-color: #FED;
}
.work-box{
	display: inline-block;
	vertical-align: middle;
	float: left;
}

	
.box-img{
   padding-right: 10px;
}
.com-img{
	width: 50px;
	height: 50px;
	margin: 4px;
}

.box-name{
padding-top: 2px;
margin-top: 4px\9;
}
.box-name p{
	float: left;
}
.box-loc{
	float: right;
	padding: 10px;
	margin-top: 8px\9;
}
.box-pop{
	float: right;
	padding: 10px;
	margin-top: 8px\9;
}

    









.tag-bar{

	padding-bottom: 20px;
}

.search-detail-sub{
	font-size: 13.5px;
	padding-bottom: 5px;
}

.search-detail{
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
}

	.work-list-bar {
		padding: 3px;
	}
	.work-list-bar a{
		text-decoration: none;
		display: block;
	}
	
	.work p{
		display: inline-block;
	}
	.work h1{
		color: #333;
		font-size:22px;
		word-break: break-word; /* 文本行的任意字内断开 */ 
		word-wrap: break-word; /* IE */ 
		white-space: -moz-pre-wrap; /* Mozilla */ 
		white-space: -hp-pre-wrap; /* HP printers */ 
		white-space: -o-pre-wrap; /* Opera 7 */ 
		white-space: -pre-wrap; /* Opera 4-6 */ 
		white-space: pre; /* CSS2 */ 
		white-space: pre-wrap; /* CSS 2.1 */ 
		white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ 
		
	}
	.work p{
		color: #555;
		padding-left: 5px;
		font-size:14px;
	}





/* 快速搜尋 */

.rush-search{
	padding: 8px;
	padding-bottom: 0;
	border-bottom: solid 1px #CCC;
}
.rush-search a{
	color:#555;
	display: inline-block;
	padding:10px;
	text-decoration: none;
	text-align: center;
	margin-bottom: -1px;
}
.rush-search a:hover{
	color: #222;
	cursor: pointer;
}
.rush-searching{
	color: #222;
	border: solid 1px #CCC;
	border-bottom: solid 1px #fff;
	background-color: #FFF;
}
	
/* =======================校內新聞====================== */




/* =======================職場高手====================== */

/* =======================職場動態====================== */

/* ======================職場萬花筒===================== */










/* 頁尾 */
#footer{
	text-align: center;
	background-color: #991133;
}
#footer .footer_text{
	padding: 7px;
	color: #efefef;
	font-size: 12px;
}
