.notice-list{
	display: block;
	text-decoration: none;
	
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px #E9E9E9;
}
.notice-list:hover{
	background-color: #efe;
}
.notice-sender-img{
	width: 50px;
	height: 50px;

}
.notice-content{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin-left: 5px;
}
.notice-msg{
	font-size: 15px;
	color: #333;
	min-height: 25px;
	width: 400px;
	word-wrap:break-word;
}
.notice-time{
	margin-top: 5px;
	margin-right: 10px;
    font-size: 13px;
	color: #999;
	float: right;
}